.container {
    display: flex; /*Ativa Caixa Flexível*/
    flex-direction: row; /*Define que a caixa flexível será uma linha */
    flex-wrap: wrap; /*Define que ela quebrará pra baixo caso não tenha espaço na tela */
    width: 100%; /*Define a largura */
    padding: 4px; /*Define a "margem interna" do componente */
    border: 1px solid rgb(150, 97, 97); /*Define que a borda terá um píxel, será sólido e terá cor vermelha */
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.card {
    width: 300px; /*Define a largura do card */
    margin: 10px; /*Define a margem entre os cards */
    border: 1px solid rgb(0, 0, 0); /*Define que a borda terá um píxel, será sólida e terá cor vermelha */
    border-radius: 20px;
    padding: 10px; /*Define a "margem interna" do card */
    text-align: center; /*Centraliza o texto dentro do card */
}